<div class="container-fluid">
    <ul class="nav justify-content-center" style="font-size: 25px;">
        <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" routerLink="/new-note"><i class="fas fa-sticky-note"></i>
                Nueva nota</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark" routerLink="/all-notes"><i class="fas fa-list"></i> Listar notas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/notes-by-category"><i class="fas fa-tags"></i> Notas por
                categoría</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark justify-content-end" routerLink="/login"><i class="fas fa-sign-in-alt"></i>
                Cerrar
                sesión</a>
        </li>
    </ul>
</div>